@using WikY.Models

@model Article

@{
    ViewBag.Title = "Lire l'article";
}

<h1 class="text-center jumbotron"><strong>@Model.Theme</strong></h1>

<br />
<p class="text-justify"><strong> @Model.Content</strong></p>
<br />
<p class="text-center">
    <em>Posté par @Model.Author</em><br />
    <em>Le @Model.CreationDate</em><br />
    <em>(Article n° @Model.Id)</em>
</p>

<br />
<div class="horizontal-flex">
    <p>
        @Html.ActionLink("Modifier", "UpdateArticle", "Article", new { myId = Model.Id }, null)
    </p>
    <p>
        @Html.ActionLink("Supprimer", "DestroyArticle", "Article", new { myId = Model.Id }, null)
    </p>
</div>

<br />

@Html.Partial("_CreateComment", new Comment { ArticleId = Model.Id })

<div id="list_of_comments">
    @Html.Partial("_ListOfComments", Model.Comments)
</div>
