@using WikY.Models

@model Article

@{
    ViewBag.Title = "Lire l'article";
}

<h1 class="text-center jumbotron"><strong>@Model.Theme</strong></h1>

<br />
<p class="text-justify"><strong> @Model.Content</strong></p>
<br />
<p class="text-center">
    <em>Posté par @Model.Author</em><br />
    <em>Le @Model.CreationDate</em><br />
    <em>(Article n° @Model.Id)</em>
</p>

<br />
<div class="horizontal-flex">
    <p>
        @Html.ActionLink("Modifier", "UpdateArticle", "Article", new { myId = Model.Id }, null)
    </p>
    <p>
        @Html.ActionLink("Supprimer", "DestroyArticle", "Article", new { myId = Model.Id }, null)
    </p>
</div>

<br />

@*@using (Ajax.BeginForm("CreateComment", "Comment", new AjaxOptions { UpdateTargetId = "list_of_comments" }))
    {
        <input type="hidden" name="ArticleId" value="@Model.Id" />

        <table class="table">
            <tbody>
                <tr>
                    <td><label for="Author">Votre nom</label></td>
                    <td>
                        <input type="text" name="Author" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Content">Votre commentaire</label>
                    </td>
                    <td>
                        <textarea name="Content"></textarea>
                    </td>
                </tr>
                <tr><td><button type="submit">Commenter</button></td><td></td></tr>
            </tbody>
        </table>
    }*@

@Html.Partial("_CreateComment", new Comment { ArticleId = Model.Id })

<div id="list_of_comments">
    @Html.Partial("_ListOfComments", Model.Comments)
</div>
