@using WikY.Models

@model Article

@{
    ViewBag.Title = "Modifier un article";
}

<h2>Modification d'article</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(a => a.Id)

    <table class="table">
        <tbody>
            <tr><td>@Html.LabelFor(a => a.Theme)</td><td>@Html.EditorFor(a => a.Theme)</td></tr>
            <tr><td>@Html.LabelFor(a => a.Author)</td><td>@Html.EditorFor(a => a.Author)</td></tr>
            <tr><td>@Html.LabelFor(a => a.Content)</td><td>@Html.EditorFor(a => a.Content)</td></tr>
            <tr><td><button type="submit">Valider</button></td><td></td></tr>
        </tbody>
    </table>
}


