@using WikY.Models
@model List<Comment>

@if (Model.Count > 0)
{
    <h2 class="text-center"><strong>Commentaires</strong></h2>
}

@foreach (Comment c in Model.OrderByDescending(c => c.CommentDate).ToList())
{
    <hr />
    <h3><strong>@c.Author</strong></h3>
    <p>@c.Content</p>
    <p><em>posté le @c.CommentDate</em></p>
    <div class="horizontal-flex">
        <p>
            @Html.ActionLink("Modifier", "UpdateComment", "Comment", new { myId = c.Id }, null)
        </p>
        <p>
            @Ajax.ActionLink("Supprimer", "DestroyComment", "Comment", new { myId = c.Id }, new AjaxOptions { UpdateTargetId = "list_of_comments" })
        </p>
    </div>
}
