@model WikY.Models.Article

@{
    ViewBag.Title = "Nouvel article";
}

<h2>Nouvel article</h2>
@using (Html.BeginForm())
{
    <div>@Html.LabelFor(a => a.Theme) @Html.EditorFor(a => a.Theme) </div>
    <div>@Html.LabelFor(a => a.Author) @Html.EditorFor(a => a.Author) </div>
    <div>@Html.LabelFor(a => a.Content) @Html.EditorFor(a => a.Content) </div>
    <div><button type="submit">Valider</button></div>
}



