@using WikY.Models

@model Article

@{
    ViewBag.Title = "Lire l'article";
}

<h1 class="text-center jumbotron"><strong>@Model.Theme</strong></h1>

<br />
<p class="text-justify"><strong> @Model.Content</strong></p>
<br />
<p class="text-center">
    <em>Posté par @Model.Author</em><br />
    <em>Le @Model.CreationDate</em><br />
    <em>(Article n° @Model.Id)</em>
</p>

<br />
<div style="display:flex; justify-content:space-around" @*class="horizontal-flex"*@>
    <p>
        @Html.ActionLink("Commenter", "CommentArticle", "Home", new { articleId = Model.Id }, null)
    </p>
    <p>
        @Html.ActionLink("Modifier", "UpdateArticle", "Home", new { myId = Model.Id }, null)
    </p>
    <p>
        @Html.ActionLink("Supprimer", "DestroyArticle", "Home", new { myId = Model.Id }, null)
    </p>
</div>

<br />
@if (Model.Comments.Count > 0)
{
    <h2 class="text-center"><strong>Commentaires</strong></h2>

    foreach (Comment c in Model.Comments)
    {
        <hr />
        <h3><strong>@c.Author</strong></h3>
        <p>@c.Content</p>
        <p>(posté le @c.CommentDate)</p>
    }
}

